@model IEnumerable<Meerkat.Web.Areas.Dashboard.Models.EventGroupViewModel>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RootCause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.RootCause)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstRelease)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastRelease)
            </td>
            <td>
                @Html.DisplayFor(model => item.Module)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
